* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.3s ease;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    background-size: 200% 200%;
    animation: gradientMove 6s infinite alternate;
}


@keyframes gradientMove {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}


.login-container {
    background: rgba(255, 255, 255, 0.98);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}


.login-container:hover {
    transform: translateY(-3px) scale(1.01);
}


h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 8px;
}

p {
    text-align: center;
    color: #666;
    font-size: 14px;
    margin-bottom: 18px;
}


.input-group {
    margin-bottom: 18px;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #444;
    font-size: 14px;
    font-weight: 500;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}


input:focus {
    border-color: #2a5298;
    box-shadow: 0 0 5px rgba(42, 82, 152, 0.5);
    transform: scale(1.02);
}


button {
    width: 100%;
    padding: 14px;
    background: #2a5298;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 60%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.4),
        transparent
    );
    animation: brilho 2s infinite;
}

@keyframes brilho {
    0% { left: -100%; }
    50% { left: 150%; }
    100% { left: 150%; }
}


button:hover {
    background: #1e3c72;
    transform: translateY(-2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: scale(0.98);
}

#mensagem {
    margin-top: 10px;
    text-align: center;
}

@keyframes subirCard {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.login-container {
    animation: subirCard 0.6s ease forwards;
}
